.sport-details {
  padding: 30px;
  background-color: grey;
}

.five-columns-in-row {
  position: relative;
  width: 20%;
  float: left;
}

.sport-detail-header {
  text-align: center;
  margin-bottom: 20px;
  color: #984B45;
}

.sport-detail-description p {
  position: relative;
  float: left;
  text-align: left;
}

.list-group-item {
  text-align: center;
  transition: all 0.5s;
}

.list-group-item:hover {
  background-color: #eee
}

body {
  background-color: #161220;
}

img {
  display: block;
  margin: auto;
  width: 90%;
  transition: all 0.5s;
}

img:hover {
  width: 100%;
}

/*.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}
